body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerDiv {
    position: absolute;
    top: 80px;
    width: 750px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(0, 0, 0);
}

table {
    border-spacing: 0px;
    text-align: center;
}

.lightTile {
    width: 80px;
    height: 80px;
    background-color: rgb(206, 206, 206);
    /* border: 1px solid black; */
}

.darkTile {
    width: 50px;
    height: 50px;
    background-color: rgb(92, 92, 92);
    /* border: 1px solid white; */
}

